.viewport{
    position: relative;
    width: 100vh;
    height: 100vh;
    border: 2px solid green;
    border-radius: 10px;
}

.ball{
    position: absolute;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: blueviolet;
}